.comments {
    padding-left: 1.5rem;
}

.comment_even {
    background-color: white;
}

.comment_odd {
    background-color: rgba(0,0,0,0.05);
}

.comment {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.author {
    color: #666;
    font-weight: bold;
    font-size: 0.7rem;
    padding-top: 0.2rem;
    vertical-align: top;
}

.score {
    margin-left: 0.5rem;
    color: #999;
    font-weight: normal;
}

.body {
    color: black;
    font-size: 0.8rem;
    padding-bottom: 0.4rem;
}

.award {
    margin-left: 0.5rem;
    vertical-align: top;
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.6rem;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}