.subreddit {
    height: 1rem;
    line-height: 1rem;
    margin-top: 0.25rem;
    white-space: nowrap;
}

.checkbox {
    height: 1rem;
    width: 1rem;
    vertical-align: top;
    margin: 0;
}

.title {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    vertical-align: top;
    padding-left: 0.5rem;
}

.subscribers {
    color: var(--color-font-tertiary);
    font-size: 0.8rem;
    vertical-align: top;
    font-weight: bold;
    margin-left: 0.5rem;
    float: right;
}
