.sidemenu {
    background-color: var(--reddit-blue-50);
    padding: 1rem;
    padding-top: 0.5rem;
}

.title {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    opacity: 0.75;
    text-align: center;
}

.section {
    margin-top: 1rem;
}

.section_title {
    color: white;
    font-weight: bold;
    opacity: 0.75;
}