.articles {
    position: relative;
}

.subheader {
    height: 2rem;
    background-color: var(--reddit-blue-50);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.list {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 1rem 1rem 0;
    overflow-y: scroll;
}

