header {
    height: var(--header-height);
    line-height: var(--header-height);
    background: var(--reddit-blue);
}

.listing {
    vertical-align: top;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: underline;
}